###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
/**/.vs/
/api/*.yml
.manifest
/node_modules
/package-lock.json
/yarn.lock

# JetBrains Rider
.idea/
